//////////////////////////////////////////////////////
// ALL GLOBAL VARIABLES SHOULD BE REFERENCED HERE ///
////////////////////////////////////////////////////



// COLORS
$black: black;
$white: white;
$green: rgb(73, 222, 201);

